/* === MENU === */
header {
    font-family: 'Karla', sans-serif;
    
  }
  
  .nav__menu {
      z-index: 10;
      position: fixed;
      top: 0;
      width: 100%;
      max-height: 80px;
      padding: 30px 0;
      background: hsl(0, 0%, 98%);
      
  }
  
  .nav__wrapper {
      width: 77%;
      margin: 0 auto;
  
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .nav__item {
      text-transform: uppercase;
      text-decoration: none;
  
      font-weight: bold;
      letter-spacing: 0.7px;
  
      color: hsl(273, 4%, 51%);
  
      padding: 15px;
  }
  
  .nav__item:last-child {
      padding: 15px 30px;
      color: hsl(256, 26%, 20%);
      border: 2px solid hsl(256, 26%, 20%);
  }
  
  
  .nav__item:hover {
      color: hsl(270, 9%, 17%);
      transition: color 350ms;
  }
  
  .nav__item:last-child:hover {
      background: hsl(270, 9%, 17%);
      color: hsl(0, 0%, 98%);
      transition: 350ms ease-in-out;
  }

  .nav-icon {
      display:none;
      cursor: pointer;
      width: 32px;
      height: 32px;
      border: 2px solid hsl(256, 26%, 20%);
      padding: 5px 3px;
  }

  .hamburger-bar {
      width: 16px;
      height: 2px;
      background: hsl(256, 26%, 20%);
      position: relative;
      transform: rotate(0deg);
      transition: all 300ms ease-in-out;
  }

  .hamburger-bar:nth-child(2){
      margin: 3px;
      opacity: 1;
  }

  .nav-icon.active .hamburger-bar:first-child{
      transform: translateY(5px) rotate(-45deg);
      transition: all 300ms ease-in-out;
  }

  .nav-icon.active .hamburger-bar:nth-child(2) {
    opacity: 0;
    transition: all 150ms ease-out;
  }

  .nav-icon.active .hamburger-bar:last-child{
    transform: translateY(-5px) rotate(45deg);
    transition: all 300ms ease-in-out;
}

.overlay-menu {
    z-index: 9;
    width: 100%;
    position: fixed;
    top: 0;
    height: 0;
    background: #2B282F;
    transition: all 300ms ease-in-out;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-menu .links {
    display: none;
    width: 77%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.overlay-menu .links .nav__item {
    color: hsl(0, 0%, 98%);
}

.overlay-menu .links .nav__item:last-child {
    border-color: hsl(0, 0%, 98%);
}

.overlay-menu .links .nav__item:last-child:hover {
    background: hsl(0, 0%, 98%);
    color: #2B282F;
}

.overlay-menu.active {
    padding-top: 110px;
    height: 100%;
    transition: all 300ms ease-in-out;
}

.overlay-menu.active .links {
    display: flex;
    transition: all 400ms ease-in-out;
}

.nav__mobile-image {
    display: none;
    position: absolute;
    bottom: 0;
    max-height: 200px;
    width: 100%;
}

.overlay-menu.active .nav__mobile-image {
    display: initial;
}
  @media only screen and (max-width:820px) {
    .nav-icon {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .nav__wrapper .links {
        display:none;
    }
  }

  @media only screen and (min-width:820px) {
      .overlay-menu {
          display: none;
      }
  }